
body{
    background: #e2edc4;
    text-align: center;
}
body>h1
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #335715 0%,
    #557a10 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 150%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.emojis {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.emoji {
    margin: .5%;
    width: 6%;
    padding: 0.5%;
    border-radius: 10px;
    background: #e2edc4;
    box-shadow:  9px 9px 5px #d2dcb6, -6px -6px 5px #f2fed2;
    
}
.emoji-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 25px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

